<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Витрина товаров</title>
</head>

<body>
<a href="/items" style="float:right;">
    <b>НА ГЛАВНУЮ</b>
</a>
<form th:action="@{/logout}" method="post" style="display: inline; float:right;">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">ВЫХОД</button>
</form>
<form method="POST" action="/items" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div>
        <label for="title">Название:</label><br/>
        <textarea id="title" name="title" rows="2" cols="50" required></textarea>
    </div>

    <div>
        <label for="image">Изображение:</label><br/>
        <input id="image" type="file" name="image" accept="image/*" required />
    </div>

    <div>
        <label for="description">Описание:</label><br/>
        <textarea id="description" name="description" rows="10" cols="50"></textarea>
    </div>

    <div>
        <label for="price">Цена:</label><br/>
        <input id="price" type="text" name="price" required />
    </div>

    <div>
        <button type="submit">Сохранить</button>
</form>
</body>
</html>