<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Витрина товаров</title>
</head>

<body>
<a th:if="${isAuthenticated==true}" href="/orders" style="float:right;">
    <b>ЗАКАЗЫ</b>
</a>
<a th:if="${isAuthenticated==true}" href="/cart/items" style="float:right;">
    <b>КОРЗИНА</b>
</a>
<a href="/items" style="float:right;">
    <b>ГЛАВНАЯ</b>
</a>
<form th:if="${isAuthenticated==true}" th:action="@{/logout}" method="post" style="display: inline; float:right;">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">ВЫХОД</button>
</form>
<form th:if="${isAuthenticated==false}" th:action="@{/login}" method="post" style="display: inline; float:right;">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">ВХОД</button>
</form>
<div style="width:70%;margin-left:auto;margin-right:auto;">
    <p>
        <img width="300" height="300" th:src="${'http://localhost:8080/images/'+item.getId()}"/>
    </p>
    <p>
        <b th:text="${item.getTitle()}"></b>
        <b th:text="${item.getPrice()}+' руб.'" style="text-align:right;"></b>
    </p>
    <p>
        <span th:text="${item.getDescription()}"></span>
    </p>
    <form th:if="${isAuthenticated==true}" th:action="@{${'/cart/items/'+item.getId()}(redirectUrl=${'/items/'+item.getId()})}" method="POST"
          enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button name="action" value="MINUS">-</button>
        <span th:text="${item.getCount()}"></span>
        <button name="action" value="PLUS">+</button>
        <button name="action" value="PLUS" th:if="${item.getCount()==null}" style="float:right;">В корзину</button>
    </form>
</div>
</body>

</html>