<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Заказы</title>
</head>

<body>
<a href="/cart/items" style="float:right;">
    <b>КОРЗИНА</b>
</a>
<a href="/items" style="float:right;">
    <b>ГЛАВНАЯ</b>
</a>
<form th:action="@{/logout}" method="post" style="display: inline; float:right;">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">ВЫХОД</button>
</form>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Заказ №'+order.getId()}" th:href="${'/orders/'+order.getId()}"></a>
            </h2>
            <table>
                <tr th:each="orderItem : ${order.getOrderItems()}">
                    <td th:text="${orderItem.getItem().getTitle()+' ('+orderItem.getItemCount()+' шт.) '+(orderItem.getItemPrice()*orderItem.getItemCount())+' руб.'}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${'Сумма: '+order.getTotal()}+' руб.'"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>