<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Заказ</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ</b>
</a>
<a href="/cart/items" style="float:right;">
    <b>КОРЗИНА</b>
</a>
<a href="/items" style="float:right;">
    <b>ГЛАВНАЯ</b>
</a>
<form th:action="@{/logout}" method="post" style="display: inline; float:right;">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">ВЫХОД</button>
</form>
<h1 style="text-align:center" th:if="${newOrder}">Поздравляем! Успешная покупка! &#128578;</h1>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <h2 th:text="${'Заказ №'+order.getId()}"></h2>
        </td>
    </tr>
    <tr th:each="orderItem : ${order.getOrderItems()}">
        <td>
            <table>
                <tr>
                    <td>
                        <a th:href="${'/items/'+orderItem.getItemId()}">
                            <img width="300" height="300" th:src="${'http://localhost:8080/images/'+orderItem.getItemId()}"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${orderItem.getItem().getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${orderItem.getItemCount()}+' шт.'"></b>
                    </td>
                    <td>
                        <b th:text="${orderItem.getItemPrice()*orderItem.getItemCount()}+' руб.'"></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3 th:text="${'Сумма: '+order.getTotal()}+' руб.'"></h3>
        </td>
    </tr>
</table>
</body>

</html>