<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>КОРЗИНА</b>
    </a>
    <a href="/items" style="float:right;">
        <b>ГЛАВНАЯ</b>
    </a>
    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <img width="300" height="300" th:src="${'http://localhost:8080/images/'+item.getId()}"/>
        </p>
        <p>
            <b th:text="${item.getTitle()}"></b>
            <b th:text="${item.getPrice()}+' руб.'" style="text-align:right;"></b>
        </p>
        <p>
            <span th:text="${item.getDescription()}"></span>
        </p>
        <form th:action="@{${'/cart/items/'+item.getId()}(redirectUrl=${'/items/'+item.getId()})}" method="post">
            <button name="action" value="MINUS">-</button>
            <span th:text="${item.getCount()}"></span>
            <button name="action" value="PLUS">+</button>
            <button name="action" value="PLUS" th:if="${item.getCount()==null}" style="float:right;">В корзину</button>
        </form>
    </div>
</body>

</html>